<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WordCount/src/wc/WordCount.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="wc.WordCount"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="hdfs://master-1:8020/user/gxy/input/wc&#10;hdfs://master-1:8020/user/gxy/output/wc"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WordCount"/>
</launchConfiguration>
